# Feel free to add your Python dependencies below. For formatting guidelines, see:
# https://pip.pypa.io/en/latest/reference/requirements-file-format/

apify < 4.0.0
apify-client >= 1.8.0
openai >= 1.0.0
numpy >= 1.24.0
